<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css">
    <title>Tripting</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="/img/tripting.png" alt="Tripting Logo">
            </div>
            <ul class="navbar-menu">
                <li><a href="/gastos">Gastos</a></li>
                <li><a href="/listado">Listado</a></li>
                <li><a href="/fotos">Fotos</a></li>
                <li><a href="/clima">Clima</a></li>
            </ul>
            <div class="navbar-buttons">
                <a href="#" class="navbar-button login">Iniciar Sesión</a>
                <a href="#" class="navbar-button register">Registrarse</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <header>
                <h1>Bienvenido a Tripting</h1>
                <p>Tu compañero de viaje digital para una experiencia sin preocupaciones</p>
            </header>
            <div>
                <p>Tripting es una API en desarrollo diseñada para facilitar la organización y planificación de tus viajes. Desde la división de gastos hasta el seguimiento del clima, Tripting te ofrece todas las herramientas necesarias para que tu viaje sea inolvidable.</p>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <p>Desarrollado por: Eliana Sperat</p>
        </div>
    </footer>
    
</body>
</html>